<div class="product-info-container">
    <div class="product-image">
        <img class="detail-img" src="/resources/images/parrillada.jpg" alt="Oferta Parrillada"></img>
    </div>
    <div class="product-info">
        <h4 style="display:none" class="offer-detail-id"></h4>
        <h4 class="offer-detail-name"></h4>
        <h5 class="offer-detail-price"></h5>
        <p class="offer-detail-description"></p>
        <input type="button" value="COMPRAR" onclick="comprar()"></input>
    </div>
</div>

    
<script src="/resources/js/dealDetails.js"></script>
